<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
      <servlet-name>Resteasy</servlet-name>
      <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
      <init-param>
        <param-name>
          javax.ws.rs.Application
        </param-name>
        <param-value>
          testJSON.HelloApplication
        </param-value>
      </init-param>
   </servlet>

   <servlet-mapping>
      <servlet-name>Resteasy</servlet-name>
      <url-pattern>/api/*</url-pattern>
   </servlet-mapping>
   
   <filter>
     <filter-name>JSONPRequestFilter</filter-name>
     <filter-class>testJSON.JSONPRequestFilter</filter-class>
   </filter>
  
   <filter-mapping>
     <filter-name>JSONPRequestFilter</filter-name>
     <url-pattern>/api/*</url-pattern>
   </filter-mapping>
   
   <welcome-file-list>
      <welcome-file>testRS.html</welcome-file>
   </welcome-file-list>
</web-app>