table.sudoku {
	border-spacing: 0;
}

table.sudoku td.entered {
	font-weight: bold;
	text-align: center;
	width: 32px;
	height: 32px;
	border: 1px solid;
}

table.sudoku td.entered:nth-child(-n+3){
	background: BlanchedAlmond;
}

table.sudoku td.entered:nth-child(n+4){
	background: AliceBlue;
}

table.sudoku td.entered:nth-child(n+7){
	background: BlanchedAlmond;
}

table.sudoku tr:nth-child(3n+1) td {
	border-top: 2px solid;
}

table.sudoku td:nth-child(3n+1) {
	border-left: 2px solid;
}

table.sudoku tr:nth-last-child(1) td {
	border-bottom: 2px solid;
}

table.sudoku td:nth-last-child(1) {
	border-right: 2px solid;
}

table.sudoku td.user {
	width: 32px;
	height: 32px;
	border: 1px solid;
	background: #ffffaa;
	text-align: center;
	font-style: italic;
}

